$black: #000000;
$white: #ffffff;
$grey : #929292;
$gameboard-bg: #beffc5;
$brown: #672e02;
$light-blue: #4adaff;
$purple: #cc23c7;
$orange: #ff8019;
$red: #ff0300;
$yellow: #e3fa24;
$green: #26d811;
$dark-blue: #186ff0;